body{
    background-color: #eee;
    }
    #content{
        width: 400px;
        background: #fff;
        padding: 20px;
        padding-top: 0px;
        font-family: calibri;
        font-size: 18px;
        color: #444;
        margin:  auto;
        max-height: 270px;
        overflow: hidden;
    
    -webkit-transition: max-hight 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-hight 0.7s
    }

    #content.open{
        max-height: 1500px;

        -webkit-transition: max-hight 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-hight 0.7s
    }
    #show-more{
        background-color: aqua;
        color: #fff;
        display: block;
        font-family: cilibri;
        width: 140px;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
        
        margin-top: 10px;
    }